<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>租户列表</title>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/css/me.css" media="all"/>

</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
  <div class="layui-inline">
    <div class="layui-input-inline">
      <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input"/>
    </div>
    <button class="layui-btn search_btn"><i class="layui-icon">&#xe615;</i>查询</button>
  </div>
  <div class="layui-inline">
    <button class="layui-btn newsAdd_btn">
      <i class="layui-icon">&#xe608;</i> 添加
    </button>
  </div>
  <!--<div class="layui-inline">-->
  <!--<a class="layui-btn layui-btn-danger batchDel" disabled="true">-->
  <!--<i class="layui-icon">&#xe640;</i>批量删除-->
  <!--</a>-->
  <!--</div>-->
</blockquote>

<script id="slist" type="text/html">
  <div class="layui-form news_list">
    <table class="layui-table">
      <colgroup>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="15%"/>
      </colgroup>
      <thead>
      <tr>
        <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"/></th>
        <th>名称</th>
        <th>经度</th>
        <th>纬度</th>
        <th>设备数量上限</th>
        <th>父节点</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody class="news_content">
      {{# layui.each(d.data, function(index, item){ }}
      <tr>
        <td>{{(index+1)+d.page*d.pageSize}}</td>
        <td>{{item.name}}</td>
        <td>{{item.longitude}}</td>
        <td>{{item.latitude}}</td>
        <td>{{item.deviceLimit}}</td>
        <td>{{item.parent}}</td>
        <td>
          <span id="source{{item.id}}"
                data-id="{{item.id}}"
                data-name="{{item.name}}"
                data-longitude="{{item.longitude}}"
                data-latitude="{{item.latitude}}"
                data-parent="{{item.parent}}"
                data-devicelimit="{{item.deviceLimit}}"
                style="display: none">
          </span>
          <button class="layui-btn layui-btn-mini site-detail" data-sourceid="{{item.id}}">
            <i class="layui-icon">&#xe64c;</i>详情
          </button>
          <button class="layui-btn layui-btn-mini tenant_edit" data-sourceid="{{item.id}}">
            <i class="layui-icon">&#xe642;</i>编辑
          </button>
          <button class="layui-btn layui-btn-danger layui-btn-mini tenant_del" data-sourceid="{{item.id}}">
            <i class="layui-icon">&#xe640;</i>删除
          </button>
        </td>
      </tr>
      {{# }); }}
      {{# if(d.data.length === 0){ }}
      无数据
      {{# } }}
      </tbody>
    </table>
  </div>
</script>
<div id="tableview"></div>
<div id="pageView" style="float: right;"></div>

</body>

<div id="layer_tenant_edit" style="display: none;padding: 15px;">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-block">
        <input id="eidt_layer_name" type="text" name="name" autocomplete="off" placeholder="请输入名称"
               class="layui-input"/>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">经度</label>
      <div class="layui-input-block">
        <input id="eidt_layer_longitude" type="text" name="longitude" autocomplete="off"
               placeholder="请输入经度" class="layui-input"/>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">纬度</label>
      <div class="layui-input-block">
        <input id="eidt_layer_latitude" type="text" name="latitude" autocomplete="off"
               placeholder="请输入纬度"
               class="layui-input"/>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">设备数量</label>
      <div class="layui-input-block">
        <input id="eidt_layer_deviceLimit" type="text" name="deviceLimit" lay-verify="title" autocomplete="off"
               placeholder="请输入设备数量限制"
               class="layui-input"/>
      </div>
    </div>

  </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
  layui.use(['laytpl', 'jquery', 'layer', 'laypage', 'tools'], function () {
    console.log("开始执行渲染模板");
    var laytpl = layui.laytpl;
    var $ = layui.jquery;
    var getUrl = "/site/ajax/list";
    var addUrl = "/site/ajax/new"
    var editUrl = '/site/ajax/update';
    var rmUrl = '/site/ajax/remove';
    var layer = layui.layer;
    var laypage = layui.laypage;
    var tools = layui.tools;

    //第一次加载数据
    searchList();


    //添加一个租户
    $(".newsAdd_btn").on('click', function () {
      console.log("添加一个用户.弹出编辑框");
      showEditLayer(true);
    });

    $(".search_btn").on('click', function () {
      console.log("点击了搜索按钮，开始搜索");
      searchList();
    })

    function initClickEvent() {
      $("#h").on('click', function () {
        alert("哈哈哈");
      });
      //为按钮设置事件
      $(".tenant_edit").on('click', function () {
        var that = this;
        showEditLayer(false, $(that).data("sourceid"));
      });

      // 详情按钮被点击
      $(document).on('click', '.site-detail', function () {
        var sourceId = $(this).data('sourceid');
        //
        var sourceIdSelector = "#source" + sourceId;
        var siteId = $(sourceIdSelector).data("id");
        //
        // window.location.replace(['/site/sites-manage?siteId=', siteId].join(''));
        tools.jumpLeftNavTab(['/site/sites-manage?siteId=', siteId].join(''));
      });

      $(".tenant_del").on('click', function () {
        console.log("开始删除租户的信息");
        var sourceId = $(this).data("sourceid");
        layer.confirm('确定删除？', {
          btn: ['确定', '取消'] //按钮
        }, function () {
          $.post(rmUrl
                  , {
                    "id": sourceId,
                  }
                  , function (data) {
                    console.log("删除数据成功：" + JSON.stringify(data));
                    if (data.code) {
                      searchList();
                      layer.msg('删除数据成功', {icon: 1, time: 1000,});
                    }
                  }
          );
        }, function () {

        });
      });

    }

    //显示编辑弹出层
    function searchList(currPage) {
      console.log("开始查询租户list的信息...");
      layer.load();   //loading
      $.get(
              getUrl,
              {"currPage": currPage || 1, "searchKey": $(".search_input").val()},
              function (data) {
                console.log("查询到的玩家的list信息:" + JSON.stringify(data));
                laytpl(slist.innerHTML).render(data, function (html) {
                  tableview.innerHTML = html;
                  initClickEvent();   //渲染之后才能初始化按钮的信息，不然没有作用
                  //分页
                  laypage({
                    cont: 'pageView'
                    , pages: data.totalPage
                    , skip: true
                    , curr: currPage || 1 //当前页,
                    , jump: function (obj, first) {
                      if (!first) {
                        searchList(obj.curr)
                      }
                    }
                  });
                  layer.closeAll('loading');   //关闭所有的loading
                });
              },
              "json"
      );
    }

    //显示编辑弹出层
    function showEditLayer(newTenant, sourceId) {
      console.log("开始编辑租户的信息:sourceId" + sourceId);
      layer.open({
                type: 1
                , title: '编辑租户'
                , area: ['400px', '400px']
                , shadeClose: true //开启遮罩关闭
                , maxmin: true
                , content: $('#layer_tenant_edit') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                , btn: ['取消', '提交']
                , success: function (layero, index) {
                  console.log("打开编辑窗口成功，是否新增？" + newTenant)
                  if (newTenant) {
                    //这里填充值
                    $("#eidt_layer_name").val("");
                    $("#eidt_layer_longitude").val("");
                    $("#eidt_layer_latitude").val("");
                    $("#eidt_layer_deviceLimit").val("");
                    return;//如果是新增加用户，直接返回，不用天充值
                  }
                  //这里填充值
                  $("#eidt_layer_name").val($("#source" + sourceId).data("name"));
                  $("#eidt_layer_longitude").val($("#source" + sourceId).data("longitude"));
                  $("#eidt_layer_latitude").val($("#source" + sourceId).data("latitude"));
                  $("#eidt_layer_deviceLimit").val($("#source" + sourceId).data("devicelimit"));
                }
                , yes: function (index, layero) {
                  layer.close(index);
                  console.log('点击了按钮1');

                }
                , btn2: function (index, layero) {
                  console.log('点击了按钮2');
                  $.post(
                          newTenant ? addUrl : editUrl
                          , {
                            "name": $("#eidt_layer_name").val(),
                            "longitude": $("#eidt_layer_longitude").val(),
                            "latitude": $("#eidt_layer_latitude").val(),
                            "deviceLimit": $("#eidt_layer_deviceLimit").val(),
                            "id": sourceId,
                          }
                          , function (data) {
                            console.log("保存数据结束：" + JSON.stringify(data));
                            if (data.code) {
                              layer.alert("保存数据成功");
                              searchList();
                            }
                          }
                  );
                },
              }
      );
    }
  });

</script>
</html>