<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>租户 - 总表</title>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/css/me.css" media="all"/>-->

</head>
<body class="childrenBody">
  <p>租户 - 总表。用 treeTable 展示， vue 渲染数据。</p>
  <p>https://cdnjs.com/libraries/jquery-treetable</p>
  <p>http://www.oschina.net/p/jquery-treetable/</p>
  <p>http://ludo.cubicphuse.nl/jquery-treetable/</p>
  <p>https://github.com/ludo/jquery-treetable-ajax-example</p>
  <p>http://jsfiddle.net/djlerman/bbj8k9pe/</p>
</body>
</html>