<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>租户 - 设备管理</title>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/css/main.css" media="all"/>
  <!--
  <link rel="stylesheet" href="/css/me.css" media="all"/>-->
  <style>
    body, html { width: 100%; height: 100%; overflow: hidden; margin:0; }
    table tbody.hot_news tr td.align-right { text-align:right; }
  </style>
  <!-- Start: layui search css -->
  <style>
    .component .layui-input {
      height: 30px;
      line-height: 30px;
      padding-left: 12px;
      background-color: #424652;
      border: none 0;
      color: #fff;
      font-size: 12px;
      border-radius: 0;
    }
    .component { width: 260px; margin-top: 0; border-radius: 0; }
  </style>
  <!-- End  : layui search css -->
  <!-- Start: sites list css -->
  <style>
    .site-tr-selected { background-color: #FFFFCC; font-weight: bold; font-style: italic; color: #333; }
    .site-tr-selected .layui-btn { font-weight: normal; font-style: normal; }
  </style>
  <!-- End  : sites list css -->
</head>
<body class="childrenBody">
<!-- Start: 顶部文字描述 -->
<!--<p>租户 - 设备管理。右部，左侧设备列表（需先搜索选择以指定站点，设备列表才能列出该站点下所有设备）。</p>
<p>右部右侧，1. 地图：设备 GIS ；2. 折线图：已勾选设备的折线图（根据服务器返回的数据）； 3. 列表：2 中折线图使用数据的列表展示形式。</p>
<p>站点只有地图、详情；设备有地图、曲线图、数据列表</p>-->
<!-- End  : 顶部文字描述 -->
<!-- Start： 左右布局 -->
<div class="row left-right-layout">
  <div class="sysNotice col left-list">
    <blockquote class="layui-elem-quote title">设备列表</blockquote>
    <!-- Start: 搜索 -->
    <div class="layui-form component">
      <select lay-search lay-filter="component">
        <option value="">搜索设备</option>
        <option value="javascript:void(0);">设备 1</option>
        <option value="javascript:void(0);">设备 2</option>
        <option value="javascript:void(0);">设备 3</option>
        <option value="javascript:void(0);">设备 4</option>
        <option value="javascript:void(0);">设备 5</option>
        <option value="javascript:void(0);">设备 6</option>
        <option value="javascript:void(0);">设备 7</option>
        <option value="javascript:void(0);">设备 8</option>
        <option value="javascript:void(0);">设备 9</option>
      </select>
    </div>
    <!-- End  : 搜索 -->
    <div id="sitesListTableView"></div>
  </div>
  <div class="sysNotice col right-details">
    <blockquote class="layui-elem-quote title">设备曲线<i class="iconfont icon-new1"></i></blockquote>
    <table class="layui-table" lay-skin="line">
      <colgroup>
        <col width="110"></col>
      </colgroup>
      <div class="layui-elem-quote layui-quote-nm" style="min-height: 400px; max-height: 400px; height: 100%;">
        <!--<div id="allmap"></div>-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="main" style="width: 100%; height:400px;"></div>

      </div>
    </table>
    <blockquote class="layui-elem-quote title">设备详情</blockquote>
    <table class="layui-table">
      <colgroup>
        <col width="150"></col>
      </colgroup>
      <thead>
      <tr>
        <th>时间</th>
        <th>名称</th>
        <th>工况流量</th>
        <th>标况流量</th>
        <th>温度</th>
        <th>压力</th>
        <th>累计流量</th>
      </tr>
      </thead>
      <tbody id="siteDetailInfo">
      <!--<tr>
        <td>数据加载中，请稍候 。。。</td>
      </tr>-->
      <tr>
        <td>2010-12-03 21:40:28</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>149.02</td>
        <td>16.15</td>
        <td>356.4</td>
        <td>449710.44</td>
      </tr>
      <tr>
        <td>2010-12-03 21:38:27</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>161.22</td>
        <td>16.15</td>
        <td>355.66</td>
        <td>449705.44</td>
      </tr>
      <tr>
        <td>2010-12-03 21:36:26</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>147.72</td>
        <td>16.14</td>
        <td>356.4</td>
        <td>449700.03</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End  ： 左右布局 -->
</body>
</html>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- Start: echarts -->
<script src="/js/echarts.min.js"></script>
<script>
    (function() {
        layui.use(['jquery', 'oneSocket'], function() {
            var $ = layui.jquery;
            var oneSocket = layui.oneSocket;

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '设备监测曲线图',
                    subtext: '[设备或站点名]'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['今日压力', '历史压力']
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        // magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: {
                    show: false,
                    start: 0,
                    end: 100
                },
                grid: {
                    left: '0%',
                    right: '6%',
                    bottom: '0%',
                    top: 75,
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        name: '时间',
                        boundaryGap: false,
                        data: (function (){
                            var now = new Date();
                            var res = [];
                            var len = 10;
                            while (len--) {
                                res.unshift(now.toLocaleTimeString().replace(/^\D*/,''));
                                now = new Date(now - 2000);
                            }
                            return res;
                        })()
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        scale: true,
                        name: '压力值',
                        nameGap: 8,
                        min: 0,
                        boundaryGap: [0.2, 0.2]
                    }
                ],
                series: [
                    {
                        name:'今日压力',
                        type:'line',
                        areaStyle: {normal: {}},
                        data:(function (){
                            var res = [];
                            var len = 10;
                            while (len--) {
                                res.push(Math.round(Math.random() * 1000));
                            }
                            return res;
                        })()
                    },
                    {
                        name:'历史压力',
                        type:'line',
                        areaStyle: {normal: {}},
                        data:(function (){
                            var res = [];
                            var len = 0;
                            while (len < 10) {
                                res.push((Math.random()*1000 + 5).toFixed(1) - 0);
                                len++;
                            }
                            return res;
                        })()
                    }
                ]
            };

            // 测试 demo ： 定时刷新
          /*setInterval(function (){
           renderUpdatedData2Charts();
           }, 3000);*/
            // 实际： 监听事件进行刷新
            var oneSocketEvent = oneSocket.EVENT;
            $(document).on(oneSocketEvent.GM_EVENT_handleNotifications, '', function(event, data) {
                console.log(['[documentEvent oneSocketEvent ', oneSocketEvent.GM_EVENT_handleNotifications, '] data: '].join(''));
                console.log(data);
                renderUpdatedData2Charts(JSON.parse(data));
            });

            // render function
            function renderUpdatedData2Charts(jData) {
                // var axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');
                var axisData = jData.timeStr;

                var data0 = option.series[0].data;
                var data1 = option.series[1].data;
                data0.shift();
                // data0.push(Math.round(Math.random() * 1000));
                data0.push(jData.data0);
                data1.shift();
                // data1.push((Math.random() * 1000 + 5).toFixed(1) - 0);
                data1.push(jData.data1);

                option.xAxis[0].data.shift();
                option.xAxis[0].data.push(axisData);

                myChart.setOption(option);
            }
        });
    })();
</script>
<!-- End  : echarts -->

<!-- Start: echarts 动态数据 -->
<script>
    (function() {

    })();
</script>
<!-- End  : echarts 动态数据 -->

<!-- Start: 与服务器交互 ajax -->
<script id="sitesList" type="text/html">
  <table class="layui-table" lay-skin="line">
    <colgroup>
      <col width="110">

      </col>
    </colgroup>
    <tbody class="hot_news">
    {{# layui.each(d, function(siteDataIndex, siteDataItem){ }}
    <tr class="site-table-tr" data-id="{{siteDataItem.id}}" data-name="{{siteDataItem.name}}" data-longitude="{{siteDataItem.longitude}}" data-latitude="{{siteDataItem.latitude}}" data-parent="{{siteDataItem.parent}}">
      <td align="left">{{siteDataItem.name}}</td>
    </tr>
    {{# }); }}
    </tbody>
  </table>
</script>
<script id="layerContent_tpl" type="text/html">
  <div style="width: 96%; text-align: center; margin: 10px auto;">{{d}}</div>
</script>
<script id="siteDetailInfo_tpl" type="text/html">
  <tr>
    <td>站点 ID</td>
    <td>{{d.siteId}}</td>
  </tr>
  <tr>
    <td>站点名字</td>
    <td>{{d.siteName}}</td>
  </tr>
  <tr>
    <td>经度</td>
    <td>{{d.siteLongitude}}</td>
  </tr>
  <tr>
    <td>纬度</td>
    <td>{{d.siteLatitude}}</td>
  </tr>
  <tr>
    <td>父站点</td>
    <td>{{d.siteParent}}</td>
  </tr>
</script>
<script>
    //  <![data[

    (function() {
        layui.use(['laytpl', 'jquery', 'layer', 'form'], function() {
            var laytpl = layui.laytpl;
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form();

            //第一次加载数据
            searchList();

            // 站点 marker map
            var sitesId2MarkerMap = {};

            function searchList(currPage) {
                console.log("开始查询站点 list 的信息 ...");
                layer.load();   // loading
                $.get(
                    ["/device/ajax/list/", 999].join(''),
                    {"currPage": currPage || 1},
                    function (data) {
                        console.log("查询到的站点 list 信息:" + JSON.stringify(data));
                        var total = data.total;
                        var page = data.page;
                        var totalPage = data.totalPage;
                        var sitesDataArr = data.data;
                        console.log(['[sites-manage searchList]total: ', total].join(''));
                        console.log(['[sites-manage searchList]page: ', page].join(''));
                        console.log(['[sites-manage searchList]totalPage: ', totalPage].join(''));
                        console.log(['[sites-manage searchList]sitesDataArr: ', JSON.stringify(sitesDataArr)].join(''));
                        // Start: 站点列表刷新
                        laytpl(sitesList.innerHTML).render(sitesDataArr, function (html) {
                            sitesListTableView.innerHTML = html;
                            layer.closeAll('loading');   //关闭所有的loading
                        });
                        // End  : 站点列表刷新

                        // Start: 站点在地图上增加 marker
                        if(sitesDataArr && sitesDataArr.length && sitesDataArr.length > 0) {
                            sitesDataArr.forEach(function(siteDataItem, siteDataIndex) {
                                console.log(['[siteDataIndex: ', siteDataIndex, '] siteDataItem: '].join(''));
                                console.log(siteDataItem);
                            });
                        }
                        // End  : 站点在地图上增加 marker
                        // Start: 触发第一个站点的 click
                        $('.site-table-tr:first').click();
                        // End  : 触发第一个站点的 click
                    },
                    "json"
                );
            }

            // Start: 展示 layerContent_tpl 于 layer 中
            function showLayerContentTplInLayer(title, content) {
                laytpl(layerContent_tpl.innerHTML).render(content, function(html) {
                    layer.open({
                        type: 1
                        , title: title
                        , area: ['400px', '300px']
                        , shadeClose: true //开启遮罩关闭
                        , maxmin: true
                        , content: html
                        , btn: ['取消', '提交']
                        , yes: function (index, layero) {
                            alert('点击了按钮 yes');
                            //按钮【按钮一】的回调
                            layer.close(index);
                            // alert("点击了按钮1");
                        }
                        , btn2: function (index, layero) {
                            alert("点击了按钮 2");
                            //按钮【按钮二】的回调
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                        ,
                    });
                });
            }
            // End  : 展示 layerContent_tpl 于 layer 中

            // Start: 【查看设备】按钮被点击
            $(document).on('click', '.view-devices-by-site-id', function() {
                var thisBtn = $(this);
                var siteId = thisBtn.data('id');
                //
                showLayerContentTplInLayer('根据站点查询设备', ['siteId: ', siteId].join(''))
            });
            // End  : 【查看设备】按钮被点击

            // Start: [站点列表]中某站点被点击
            $(document).on('click', '.site-table-tr', function() {
                var thisTr = $(this);
                var siteId = thisTr.data('id');
                var siteName = thisTr.data('name');
                var siteLongitude = thisTr.data('longitude');
                var siteLatitude = thisTr.data('latitude');
                var siteParent = thisTr.data('parent');
                // Start: 被选中的 tr addClass 以区分
                var siteTrSelectedClassStr = 'site-tr-selected';
                $('.site-table-tr').removeClass(siteTrSelectedClassStr);
                thisTr.addClass(siteTrSelectedClassStr);
                // End  : 被选中的 tr addClass 以区分
                //
                console.log(['站点信息[siteId: ', siteId, '][siteName: ', siteName, '][siteLongitude: ',
                    siteLongitude, '][siteLatitude: ', siteLatitude, ']'].join(''));

            });
            // Start: [站点列表]中某站点被点击
        });
    })();

    //]]>
</script>
<!-- End  : 与服务器交互 ajax -->

<!-- Start: sockjs 接收服务器持续推送并处理 -->
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script>
  /*(function() {
   layui.use(['jquery'], function() {
   var $ = layui.jquery;
   // sockjs stomp
   var sock = new SockJS("/endpointChat");
   var stomp = Stomp.over(sock);
   stomp.connect('guest', 'guest', function (frame) {
   stomp.subscribe("/user/queue/notifications", handleNotifications);
   // set station
   stomp.send("/setStations", {}, "s1");
   });
   // 收到消息的处理
   function handleNotifications(message) {
   console.log(["[handleNotifications]received: ", message.body].join(''));
   $(document).trigger('GM_EVENT_handleNotifications', message.body);
   }
   });
   })();*/
</script>
<!-- End  : sockjs 接收服务器持续推送并处理 -->

<!-- Start: layui.define 定义模块 -->
<script>
    (function() {
        layui.use('oneSocket', function() {
            layui.oneSocket(SockJS, Stomp);
        });
    })();
</script>
<!-- End  : layui.define 定义模块 -->