<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>租户 - 设备管理</title>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
  <link rel="stylesheet" href="/layui/css/layui_optimise.css" media="all"/>
  <link rel="stylesheet" href="/css/main.css" media="all"/>
  <!--
  <link rel="stylesheet" href="/css/me.css" media="all"/>-->
  <style>
    body, html { width: 100%; height: 100%; overflow: hidden; margin:0; }
    table tbody.hot_news tr td.align-right { text-align:right; }
  </style>
  <!-- Start: layui search css -->
  <style>
    .component .layui-input {
      height: 30px;
      line-height: 30px;
      padding-left: 12px;
      background-color: #424652;
      border: none 0;
      color: #fff;
      font-size: 12px;
      border-radius: 0;
    }
    .component { width: 260px; margin-top: 0; border-radius: 0; }
  </style>
  <!-- End  : layui search css -->
  <!-- Start: sites list css -->
  <style>
    .site-tr-selected { background-color: #FFFFCC; font-weight: bold; font-style: italic; color: #333; }
    .site-tr-selected .layui-btn { font-weight: normal; font-style: normal; }
  </style>
  <!-- End  : sites list css -->
</head>
<body class="childrenBody">
<!-- Start: 顶部文字描述 -->
<!--<p>租户 - 设备管理。右部，左侧设备列表（需先搜索选择以指定站点，设备列表才能列出该站点下所有设备）。</p>
<p>右部右侧，1. 地图：设备 GIS ；2. 折线图：已勾选设备的折线图（根据服务器返回的数据）； 3. 列表：2 中折线图使用数据的列表展示形式。</p>
<p>站点只有地图、详情；设备有地图、曲线图、数据列表</p>-->
<!-- End  : 顶部文字描述 -->
<!-- Start： 左右布局 -->
<div class="row left-right-layout">
  <div class="sysNotice col left-list">
    <blockquote class="layui-elem-quote title">设备列表</blockquote>
    <!-- Start: 搜索 -->
    <div class="layui-form component">
      <select id="select-search_device" lay-search lay-filter="search-device">
        <option value="-1">搜索设备</option>
      </select>
    </div>
    <!-- End  : 搜索 -->
    <div id="devicesListTableView"></div>
  </div>
  <div class="sysNotice col right-details">
    <blockquote class="layui-elem-quote title">设备曲线<i class="iconfont icon-new1"></i></blockquote>
    <table class="layui-table" lay-skin="line">
      <colgroup>
        <col width="110"></col>
      </colgroup>
      <div class="layui-elem-quote layui-quote-nm" style="min-height: 820px; max-height: 820px; height: 100%;">
        <!--<div id="allmap"></div>-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="device-echarts-container">
          <div class="row">
            <div id="echarts-0" class="sysNotice col" style="width: 49%; height:400px;"></div>
            <div id="echarts-1" class="sysNotice col" style="width: 49%; height:400px;"></div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div id="echarts-2" class="sysNotice col" style="width: 49%; height:400px;"></div>
            <div id="echarts-3" class="sysNotice col" style="width: 49%; height:400px;"></div>
          </div>
        </div>
      </div>
    </table>
    <blockquote class="layui-elem-quote title">设备详情</blockquote>
    <table class="layui-table">
      <colgroup>
        <col width="150"></col>
      </colgroup>
      <thead>
      <tr>
        <th>时间</th>
        <th>名称</th>
        <th>工况流量</th>
        <th>标况流量</th>
        <th>温度</th>
        <th>压力</th>
        <th>累计流量</th>
      </tr>
      </thead>
      <tbody id="siteDetailInfo">
      <!--<tr>
        <td>数据加载中，请稍候 。。。</td>
      </tr>-->
      <tr>
        <td>2010-12-03 21:40:28</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>149.02</td>
        <td>16.15</td>
        <td>356.4</td>
        <td>449710.44</td>
      </tr>
      <tr>
        <td>2010-12-03 21:38:27</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>161.22</td>
        <td>16.15</td>
        <td>355.66</td>
        <td>449705.44</td>
      </tr>
      <tr>
        <td>2010-12-03 21:36:26</td>
        <td>801 东风锻造厂</td>
        <td>0</td>
        <td>147.72</td>
        <td>16.14</td>
        <td>356.4</td>
        <td>449700.03</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End  ： 左右布局 -->
</body>
</html>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- Start: echarts -->
<script src="/js/echarts.min.js"></script>
<!-- End  : echarts -->

<!-- Start: layui template 模板 -->
<script id="devicesList" type="text/html">
  <table class="layui-table" lay-skin="line">
    <colgroup>
      <col width="110">

      </col>
    </colgroup>
    <tbody class="hot_news">
    {{# layui.each(d, function(deviceDataIndex, deviceDataItem){ }}
      <tr class="device-table-tr" data-id="{{deviceDataItem.id}}" data-hardware-id="{{deviceDataItem.hardwareId}}" data-token-id="{{deviceDataItem.tokenId}}" data-name="{{deviceDataItem.name}}"
        data-logic="{{deviceDataItem.logic}}" data-watcher="{{deviceDataItem.watcher}}" data-phone="{{deviceDataItem.phone}}" data-created="{{deviceDataItem.created}}"
        data-status="{{deviceDataItem.status}}" data-parent="{{deviceDataItem.parent}}" data-site-id="{{deviceDataItem.siteId}}">
      <td align="left">【{{deviceDataItem.hardwareId}}】{{deviceDataItem.name}}</td>
    </tr>
    {{# }); }}
    </tbody>
  </table>
  <ul id="devicesTreeList"></ul>
</script>
<script id="layerContent_tpl" type="text/html">
  <div style="width: 96%; text-align: center; margin: 10px auto;">{{d}}</div>
</script>
<!-- End  : layui template 模板 -->
<script src="/js/app/device/device_manage_echarts.js"></script>
