<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title>后台登录</title>
</head>
<body>
密码修改成功, <span id="time">3</span> 秒后跳转到首页...
</body>

<script type="application/javascript">
  setTimeout(function () {
    console.log("跳转的首页");
    window.location.href = "/index";
  }, 3000)

  var count = 2;
  setInterval(function () {
    document.getElementById("time").innerHTML = count + "";
    count--;
  }, 1000);

</script>
</html>